<!-- logo and C/f button  START -->
<!-- Left column with Logo start -->
<section class="header-container">
  <div class="row pad-10-all">
    <div class="col-6 text-left">
      <div>
        <h1 class="app-header">Accurate Weather</h1>
      </div>
    </div>
    <div class="col-6 text-right margin-auto">
      <div>
        <mat-button-toggle-group #tempConverterGroup="matButtonToggleGroup"
        class="temp-unit-button-group"
        name="tempUnitType"
        value="fahrenheit"
        aria-label="Temperature Unit Type"
        (click)="switchUnit(tempConverterGroup.value)">
          <mat-button-toggle value="celsius" role="button" aria-label="degree celsius">
            <span>°C</span>
          </mat-button-toggle>
          <mat-button-toggle value="fahrenheit" role="button" aria-label="degree fahrenheit">
            <span>°F</span>
          </mat-button-toggle>
        </mat-button-toggle-group>
      </div>
    </div>
  </div>
</section>
<!-- Left column with Logo end -->
<!-- logo and C/f button  START -->
