<ngx-spinner></ngx-spinner>
<section style="font-weight: normal;">

  <div class="flex text-center" style="align-items: center;justify-content: space-around;">

    <div class="pad-10-all" *ngFor="let currentDay of arrayofWeatherForecasted"
      style="display:flex; flex-direction: column;justify-content: space-around;">
      <div>
        <!-- Day : Sunday, Monday, etc...-->
        <p aria-label="name of the day" class="mar-h-10" style="font-size: 20px;" role="title">
          {{currentDay?.day}}
        </p>
        <!-- Date-->
        <p aria-label="date of the day" class="mar-h-5">
          {{currentDay?.forecastedDate}}
        </p>
        <!-- Weather Description -->
        <p aria-label="description of the weather" class="mar-h-10" style="white-space:normal;">
          {{currentDay?.dayWeatherDescription}}
        </p>
        <!-- Weather Icon -->
        <div style="display: inline-block;">
          <p class="pad-15-all" style="border: 1px solid black; ;height: 50px;width: 50px;border-radius: 50%">
          </p>
        </div>

        <!-- Max Temp block - Start -->
        <div>
          <!-- Heading Max-->
          <p aria-label="Maximum Temperature title" class="no-margin" style="font-size: 16px;">
            Max
          </p>
          <!-- Max Temp-->
          <div class="flex mar-b-10 text-center" style="justify-content: center">
            <p  aria-label="Maximum Temperature in degree" style="font-size: 20px;">
              {{currentDay?.dayMaxTemp | tempconverter:weatherUnitChild:currentDay?.dayMaxTemp}}
              <sup>{{weatherUnitChild == 'fahrenheit' ? '°F':'°C'}}</sup>
            </p>
          </div>
        </div>
        <!-- Max Temp block - End -->

        <!-- Min Temp block - Start -->
        <div>
          <!-- Heading Max-->
          <p aria-label="Minimum Temperature title" class="no-margin" style="white-space:normal;display: block;font-size: 16px;">
            Min
          </p>
          <!-- Max Temp-->
          <div class="flex mar-b-10 text-center" style="justify-content: center">
            <p aria-label="Minimum Temperature in degree" style="font-size: 20px;">
              {{currentDay?.dayMinTemp | tempconverter:weatherUnitChild:currentDay?.dayMinTemp}}
              <sup>{{weatherUnitChild == 'fahrenheit' ? '°F':'°C'}}</sup>
            </p>
          </div>
        </div>
        <!-- Min Temp block - End -->

        <!-- Avg Feels like Temp block - Start -->
        <div>
          <!-- Heading Max-->
          <p aria-label="average feels like temperature title" class="no-margin" style="white-space:normal;display: block;font-size: 16px;">
            Feels like
          </p>
          <!-- Max Temp-->
          <div class="flex mar-b-10 text-center" style="justify-content: center">
            <p aria-label="average feels like temperature in degree" style="font-size: 20px;">
              {{currentDay?.dayAvgFeelsLike | tempconverter:weatherUnitChild:currentDay?.dayAvgFeelsLike}}
              <sup>{{weatherUnitChild == 'fahrenheit' ? '°F':'°C'}}</sup>
            </p>
          </div>
        </div>
        <!-- Avg Feels like Temp block - End -->
      </div>

    </div>
  </div>
</section>
