<ngx-spinner></ngx-spinner>
<section class="txtWeightNormal forecast-weather">

  <div class="flex text-center flex-justify-content-space-around">

    <div class="pad-10-all flex flex-column flex-justify-content-space-around" *ngFor="let currentDay of arrayofWeatherForecasted;let i = index">
      <div>
        <!-- Day : Sunday, Monday, etc...-->
        <p aria-label="name of the day" class="mar-h-10 txtSize20" role="title">
          {{currentDay?.day}}
        </p>
        <!-- Date-->
        <p aria-label="date of the day" class="mar-h-5">
          {{currentDay?.forecastedDate}}
        </p>
        <!-- Weather Description -->
        <p aria-label="description of the weather white-space-normal" class="mar-h-10">
          {{currentDay?.dayWeatherDescription}}
        </p>
        <!-- Weather Icon -->
        <div>
          <img class="pad-15 weather-icon"  src="http://openweathermap.org/img/w/{{currentDay?.dayWeatherDescriptionIcon}}.png"
          style="" alt="Weather icon {{i}}">
        </div>

        <!-- Max Temp block - Start -->
        <div>
          <!-- Heading Max-->
          <p aria-label="Maximum Temperature title" class="no-margin txtSize16">
            Max
          </p>
          <!-- Max Temp-->
          <div class="flex mar-b-10 text-center flex-justify-content-center">
            <p class="txtSize20" aria-label="Maximum Temperature in degree">
              {{currentDay?.dayMaxTemp | tempconverter:weatherUnitChild:currentDay?.dayMaxTemp}}
              <sup>{{weatherUnitChild == 'fahrenheit' ? '°F':'°C'}}</sup>
            </p>
          </div>
        </div>
        <!-- Max Temp block - End -->

        <!-- Min Temp block - Start -->
        <div>
          <!-- Heading Max-->
          <p aria-label="Minimum Temperature title" class="no-margin white-space-normal txtSize16 block">
            Min
          </p>
          <!-- Max Temp-->
          <div class="flex mar-b-10 text-center flex-justify-content-center">
            <p aria-label="Minimum Temperature in degree" class="txtSize20">
              {{currentDay?.dayMinTemp | tempconverter:weatherUnitChild:currentDay?.dayMinTemp}}
              <sup>{{weatherUnitChild == 'fahrenheit' ? '°F':'°C'}}</sup>
            </p>
          </div>
        </div>
        <!-- Min Temp block - End -->

        <!-- Avg Feels like Temp block - Start -->
        <div>
          <!-- Heading Max-->
          <p aria-label="average feels like temperature title" class="no-margin white-space-normal txtSize16 block">
            Feels like
          </p>
          <!-- Ave day feels like -->
          <div class="flex mar-b-10 text-center flex-justify-content-center">
            <p class="txtSize20" aria-label="average feels like temperature in degree">
              {{currentDay?.dayAvgFeelsLike | tempconverter:weatherUnitChild:currentDay?.dayAvgFeelsLike}}
              <sup>{{weatherUnitChild == 'fahrenheit' ? '°F':'°C'}}</sup>
            </p>
          </div>
        </div>
        <!-- Avg Feels like Temp block - End -->
      </div>

    </div>
  </div>
</section>
