<div class="sidebarContainer">
  <!-- <div class="row">
    <div class="col-12">
      <img class=""
        src="../../images/temp-logo.png" alt="" style="width: 100%;border: 2px solid red;">
    </div>
  </div>
  <div class="row">
    <div class="col-3">
      <div>
        <img class="sideBarImageIcon"
        src="https://upload.wikimedia.org/wikipedia/commons/5/53/Google_%22G%22_Logo.svg" alt="">
      </div>

    </div>
    <div class="col-9 iconTitle"><span>Go to Google</span></div>
  </div> -->
</div>

