// @import '../app.component.scss';
@import '../../variables.scss';


.dashboard {
  .enter-city-name {
    mat-label {
      color: $white;
    }
  }

  .mat-error-text {
    margin-top: -10px;
    word-spacing: 3px;
    letter-spacing: 1px;
  }

  .city-search-btn {
    width: 20%;
    height: max-content;
    margin-bottom: 0px;
    margin: 10px;
    background-color: #304D5C;
    box-shadow: 7px 7px 14px #20333d,
      -5px -5px 14px #40677b;
  }

  .forecast-Btn {
    color: $white;
    height: max-content;
    margin: 10px;
    background-color: #795C4E;
    box-shadow: 4px 4px 12px #30251f,
      -4px -4px 12px #c2937d;
    opacity: 100%
  }

  .forecast-Btn:disabled {
    opacity: 0.3;
  }

  .spacer {
    background-color: white;
  }

  .current-weather-icon {
    height: 70px;
    width: 70px;
    border-radius: 50%;
  }


  @media (max-width:481px) {
    .cityName {
      font-size: 27px;
    }
    .city-search-btn {
      width: 30%;
      box-shadow: none;
      color: white;
    }
  }

  @media (max-width:961px)  {
    .city-search-btn {
      width: 30%;
    }
  }

}
