// @import '../app.component.scss';
@import '../../variables.scss';


.dashboard {

  .form-div {
    align-items: center;
    .form-field-div {
      width: 80%;
    }
  }
  .enter-city-name {
    width: 100%;
    mat-label {
      color: $white;
    }
  }

  .mat-error-text {
    margin-top: -10px;
    word-spacing: 3px;
    letter-spacing: 1px;
  }

  .city-search-btn {
    width: min-content;
    color: white;
    height: max-content;
    width: auto;
    margin-bottom: 0px;
    // margin: 10px;
    background-color: #795C4E;
    box-shadow: 5px 5px 12px #30251f, -3px -3px 11px #c2937d
  }

  .forecast-Btn {
    color: $white;
    height: max-content;
    margin: 10px;
    background-color: #795C4E;
    box-shadow: 4px 4px 12px #30251f,
      -4px -4px 12px #c2937d;
    opacity: 100%
  }

  .forecast-Btn:disabled {
    opacity: 0.3;
  }

  .spacer {
    background-color: white;
  }

  .current-weather-icon {
    height: 70px;
    width: 70px;
    border-radius: 50%;
  }




  @media (max-width:481px) {


    .cityName {
      font-size: 27px;
    }

    .city-search-btn {
      width: min-content;
      box-shadow: none;
      color: white;
    }
  }

  @media screen and (max-width:961px) {

    .form-div {
      align-items: center;
      .form-field-div {
        width: 65%;
      }
    }
  }

}
