<section class="pad-10-all">
  <!-- Current Temp and Search article START -->
  <article>
    <section>
      <div class="row">
        <div class="col-lg-5 col-md-6 col-sm-12 col-xs-12" col-order style="font-weight: normal;">
          <!-- Name of the City -->
          <h2 class="cityName" aria-label="Main Temperature in degree" style="font-size: 30px;">
            {{cityWeather?.name}}, {{cityWeather?.sys?.country}}
          </h2>

          <div class="flex flex-justify-content-space-between" style="align-items: flex-start;">
            <div>
              <!-- Main temperature -->
              <h3 aria-label="Main Temperature in degree" style="font-size: 35px;">
                {{mainWeather | tempconverter:weatherUnit:mainWeather}}
                <sup>{{weatherUnit == 'fahrenheit' ? '°F':'°C'}}</sup>
              </h3>
              <!-- Feels like Temperature -->
              <p aria-label="Feels like Temperature in degree" style="font-size: 20px;margin-bottom: 5px;">
                <span style="font-size: 16px;">Feels like : </span> {{feelsLike | tempconverter:weatherUnit:feelsLike }}
                <sup>{{weatherUnit == 'fahrenheit' ? '°F':'°C'}}</sup>
              </p>
              <!-- Weather description -->
              <p aria-label="Weather description" *ngFor="let info of cityWeather?.weather; i as index">
                {{info?.description | capitalize}}
              </p>

            </div>

            <div class="pad-10-all">

              <!-- Maximum temperature -->
              <p aria-label="Maximum Temperature in degree" style="font-size: 20px;margin-bottom: 5px;">
                <span style="font-size: 16px;">Max : </span> {{maxWeather | tempconverter:weatherUnit:maxWeather }}
                <sup>{{weatherUnit == 'fahrenheit' ? '°F':'°C'}}</sup>
              </p>

              <!-- Minimum temperature -->
              <p aria-label="Minimum Temperature in degree" style="font-size: 20px;margin-bottom: 5px;">
                <span style="font-size: 16px;">Min : </span> {{minWeather | tempconverter:weatherUnit:minWeather }}
                <sup>{{weatherUnit == 'fahrenheit' ? '°F':'°C'}}</sup>
              </p>

              <!-- Humidity temperature -->
              <p aria-label="Humidity in percentage" style="font-size: 20px;margin-bottom: 5px;">
                <span style="font-size: 16px;">Humidity : </span> {{cityWeather?.main?.humidity}}%
              </p>

            </div>
          </div>
            <!-- Five Days forecast section -->
          <section class="mar-15-bottom">
            <button class="pad-5-all" mat-button role="button" aria-label="5 days weather forecast"
              style="color: white;
              height: max-content;
              margin-bottom: 0px;
              margin: 10px;
              background-color: #795C4E;
              box-shadow: 4px 4px 12px #30251f,
             -4px -4px 12px #c2937d" [disabled]="!findCityForm.valid"
              (click)="showForeCast = !showForeCast;getForecastedWeather(showForeCast)">Next 5 days forecast</button>
          </section>

        </div>
        <div class="col-lg-7 col-md-6  col-sm-12 col-xs-12" style="font-weight: normal;">
          <div class="text-right">
            <form action="" [formGroup]="findCityForm" (ngSubmit)="getWeatherForSearchedCity(findCityForm.value)">
              <div class="flex">
                <mat-form-field class="example-full-width" style="width: 100%;" (change)="selectInput($event)">
                  <mat-label style="color: white;">Enter name of the city</mat-label>
                  <input matInput formControlName="nameOfCity" aria-label="name of the city" type="search"
                    aria-required="true">
                </mat-form-field>
                <mat-error *ngIf="failRequest">
                  {{errMessage}}
                </mat-error>
                <button mat-button type="submit" aria-label="submit" style="width: 20%;
                height: max-content;
                margin-bottom: 0px;
                margin: 10px;
                background-color: #304D5C;
                box-shadow: 7px 7px 14px #20333d,
             -5px -5px 14px #40677b;">
                  Search
                </button>
              </div>
            </form>
          </div>
          <div class="flex" style="justify-content: flex-end;">
            <p class="pad-v-10">
              North Carolina
            </p>
            <p class="pad-v-10">
              Mississauga
            </p>
            <p class="pad-10-left">
              Brampton
            </p>
          </div>
        </div>
      </div>
    </section>
  </article>

  <!-- Current Temp and Search article END -->
  <mat-divider style="background-color: white;"></mat-divider>
  <!-- Forecast of weather table START -->
  <section class="pad-15-top" *ngIf="showForeCast">
    <app-fivedayforecast [foreCastedWeatherChild]='forecastedWeatherParent' [weatherUnitChild]='weatherUnit'>
    </app-fivedayforecast>
  </section>

  <!-- Forecast of weather table END -->
</section>
