<section class="pad-10-all dashboard">
  <!-- Current Temp and Search article START -->
  <article>
    <section>
      <div class="row">
        <div class="col-lg-5 col-md-6 col-sm-12 col-xs-12 txtSize20 txtWeightNormal">
          <!-- Name of the City -->
          <h2 class="cityName txtSize30" aria-label="Main Temperature in degree">
            {{cityWeather?.name}}, {{cityWeather?.sys?.country}}
          </h2>

          <div class="flex flex-justify-content-space-between flex-align-start">
            <div>
              <!-- Main temperature -->
              <h3 class="txtSize35" aria-label="Main Temperature in degree">
                {{mainWeather | tempconverter:weatherUnit:mainWeather}}
                <sup>{{weatherUnit == 'fahrenheit' ? '°F':'°C'}}</sup>
              </h3>
              <!-- Feels like Temperature -->
              <p class="txtSize20 mar-5-bottom" aria-label="Feels like Temperature in degree">
                <span class="txtSize16">Feels like : </span> {{feelsLike | tempconverter:weatherUnit:feelsLike }}
                <sup>{{weatherUnit == 'fahrenheit' ? '°F':'°C'}}</sup>
              </p>
              <!-- Weather description -->
              <p class="txtSize20" aria-label="Weather description" *ngFor="let info of cityWeather?.weather; i as index">
                {{info?.description | capitalize}}

              <img class="current-weather-icon" id="wicon" src="http://openweathermap.org/img/w/{{info?.icon}}.png" alt="Weather icon">
              </p>

            </div>

            <div class="pad-10-all">

              <!-- Maximum temperature -->
              <p class="txtSize20 mar-5-bottom" aria-label="Maximum Temperature in degree">
                <span class="txtSize16">Max : </span> {{maxWeather | tempconverter:weatherUnit:maxWeather }}
                <sup>{{weatherUnit == 'fahrenheit' ? '°F':'°C'}}</sup>
              </p>

              <!-- Minimum temperature -->
              <p class="txtSize20 mar-5-bottom" aria-label="Minimum Temperature in degree">
                <span class="txtSize16">Min : </span> {{minWeather | tempconverter:weatherUnit:minWeather }}
                <sup>{{weatherUnit == 'fahrenheit' ? '°F':'°C'}}</sup>
              </p>

              <!-- Humidity temperature -->
              <p class="txtSize20 mar-5-bottom" aria-label="Humidity in percentage">
                <span class="txtSize16">Humidity : </span> {{cityWeather?.main?.humidity}}%
              </p>

            </div>
          </div>

        </div>
        <div class="col-lg-7 col-md-6  col-sm-12 col-xs-12 txtWeightNormal">
          <!-- Search city by name form -->
          <div>
            <form action="" [formGroup]="findCityForm" (ngSubmit)="getWeatherForSearchedCity(findCityForm.value)">
              <div class="flex flex-row flex-justify-content-space-between">
                <!-- Enter name of the city here -->
                <mat-form-field class="w-100 enter-city-name" (change)="selectInput($event)">
                  <mat-label>Enter name of the city</mat-label>
                  <input matInput formControlName="nameOfCity" aria-label="name of the city" type="search"
                    aria-required="true">
                </mat-form-field>

                <!-- Search button -->
                <button mat-raised-button type="submit" aria-label="submit" class="city-search-btn">
                  Search
                </button>
              </div>
              <!-- form field error -->
              <p *ngIf="failRequest" class="text-left">
                <mat-error class="mat-error-text txtBold">
                  {{errMessage | capitalize}}
                </mat-error>
              </p>
            </form>
          </div>
          <!-- pre-selected city -->
          <div class="flex flex-justify-content-flex-end">
            <p class="pad-v-10">
              North Carolina
            </p>
            <p class="pad-v-10">
              Mississauga
            </p>
            <p class="pad-10-left">
              Brampton
            </p>
          </div>
        </div>
      </div>
       <!-- Five Days forecast section -->
       <section class="mar-15-bottom">
        <button class="pad-5-all mar-0-bottom forecast-Btn" mat-button role="button"
          aria-label="5 days weather forecast" [disabled]="!findCityForm.valid || failRequest"
          (click)="showForeCast = !showForeCast;getForecastedWeather(showForeCast)">Next 5 days forecast {{failRequest}}</button>
      </section>
    </section>
  </article>

  <!-- Current Temp and Search article END -->
  <mat-divider class="spacer"></mat-divider>
  <!-- Forecast of weather table START -->
  <section class="pad-15-top" *ngIf="showForeCast">
    <app-fivedayforecast [foreCastedWeatherChild]='forecastedWeatherParent' [weatherUnitChild]='weatherUnit'>
    </app-fivedayforecast>
  </section>

  <!-- Forecast of weather table END -->
</section>
